<?xml version="1.0" encoding="UTF-8"?>
<configs>
	<config id="100" comment="List of binding users">
		<admin username="admin" password="shmanic.com" dn="cn=admin,dc=shmanic,dc=net" />
		<standard username="shaun.maunder" password="shaun.password" dn="uid=shaun.maunder,ou=People,dc=shmanic,dc=net" />
		<standard username="trinity" password="trinity.password" dn="uid=trinity,ou=Matrix,ou=People,dc=shmanic,dc=net" />
		<standard username="neo" password="password" dn="uid=neo,ou=Matrix,ou=People,dc=shmanic,dc=net" />
		<standard username="kryten" password="password" dn="uid=kryten,ou=People,dc=shmanic,dc=net" />
		<standard username="shaun.maunder" password="shaun.password" dn="uid=shaun.maunder,ou=People,dc=shmanic,dc=net" />
		<standard username="shaun.maunder" password="shaun.password" dn="uid=shaun.maunder,ou=People,dc=shmanic,dc=net" />
	</config>
	
	<config id="203" comment="For successful proxy bind without encryption [slapd]">
		<host>ldap1.shmanic.net</host>
		<port>389</port>
		<use_v3>1</use_v3>
		<negotiate_tls>0</negotiate_tls>
		<use_referrals>0</use_referrals>
		<proxy_username>cn=admin,dc=shmanic,dc=net</proxy_username>
		<proxy_password>shmanic.com</proxy_password>
		<proxy_encryption>0</proxy_encryption>
	</config>
	
	<config id="204" comment="For successful proxy bind with direct input encryption [slapd]">
		<host>ldap1.shmanic.net</host>
		<port>389</port>
		<use_v3>1</use_v3>
		<negotiate_tls>0</negotiate_tls>
		<use_referrals>0</use_referrals>
		<proxy_username>cn=admin,dc=shmanic,dc=net</proxy_username>
		<proxy_password>461F E562B 4275D173F5A</proxy_password>
		<proxy_encryption>1</proxy_encryption>
		<encryption_options>{"key":"5wc7EmDstP70aXkWOIunmFc7ZUWXZ3ELzfwfMIjHk3XnNp2sAYAEB5BiJdu3LguPDzpdbkfUWexvGTszt0qfvhPsj656ZfMcXUoGsOuHGBJ5AvpDgnKq8iIehI5PGlsjAhgIo6Q25wZppnPUL9NpDQ0ac6MbxvJKGbfKnPKFpMT8wMcLFjjr84hQM4OKmCaTpYF5XAiVFJcxCovP93L0122VujJsW8uYCQDPL7RHmnKeZrrPSO78tM5yuoHx1ssL"}</encryption_options>
	</config>
	
	<config id="205" comment="For successful proxy bind with file based input encryption [slapd]">
		<host>ldap1.shmanic.net</host>
		<port>389</port>
		<use_v3>1</use_v3>
		<negotiate_tls>0</negotiate_tls>
		<use_referrals>0</use_referrals>
		<proxy_username>cn=admin,dc=shmanic,dc=net</proxy_username>
		<proxy_password> A 55D3B2C 2374C27 D34</proxy_password>
		<proxy_encryption>1</proxy_encryption>
		<encryption_options>{"source":"file","file":"ldap_encrypt_key.txt"}</encryption_options>
	</config>
	
	<config id="214" comment="For successful search, read, modify operations in ldap (search and bind) [slapd]">
		<host>ldap1.shmanic.net</host>
		<port>389</port>
		<use_v3>1</use_v3>
		<negotiate_tls>0</negotiate_tls>
		<use_referrals>0</use_referrals>
		<proxy_username>cn=admin,dc=shmanic,dc=net</proxy_username>
		<proxy_password>shmanic.com</proxy_password>
		<proxy_encryption>0</proxy_encryption>
		<base_dn>dc=shmanic,dc=net</base_dn>
		<use_search>1</use_search>
		<user_qry>(uid=[username])</user_qry>
	</config>

	<config id="215" comment="For successful search and bind without brackets [slapd]">
		<host>ldap1.shmanic.net</host>
		<port>389</port>
		<use_v3>1</use_v3>
		<negotiate_tls>0</negotiate_tls>
		<use_referrals>0</use_referrals>
		<proxy_username>cn=admin,dc=shmanic,dc=net</proxy_username>
		<proxy_password>shmanic.com</proxy_password>
		<proxy_encryption>0</proxy_encryption>
		<base_dn>dc=shmanic,dc=net</base_dn>
		<use_search>1</use_search>
		<user_qry>uid=[username]</user_qry>
	</config>
	
	<config id="216" comment="For successful search, read, modify operations in ldap (search and bind) [slapd]">
		<host>ldap1.shmanic.net</host>
		<port>389</port>
		<use_v3>1</use_v3>
		<negotiate_tls>0</negotiate_tls>
		<use_referrals>0</use_referrals>
		<proxy_username>cn=admin,dc=shmanic,dc=net</proxy_username>
		<proxy_password>shmanic.com</proxy_password>
		<proxy_encryption>0</proxy_encryption>
		<base_dn>dc=shmanic,dc=net</base_dn>
		<use_search>1</use_search>
		<user_qry>(uid=[username])</user_qry>
		<ldap_fullname>cn</ldap_fullname>
		<ldap_email>mail</ldap_email>
		<ldap_uid>uid</ldap_uid>
	</config>
	
	<config id="220" comment="For successful search, read, modify operations in ldap (bind as user) [slapd]">
		<host>ldap1.shmanic.net</host>
		<port>389</port>
		<use_v3>1</use_v3>
		<negotiate_tls>0</negotiate_tls>
		<use_referrals>0</use_referrals>
		<proxy_username>cn=admin,dc=shmanic,dc=net</proxy_username>
		<proxy_password>shmanic.com</proxy_password>
		<proxy_encryption>0</proxy_encryption>
		<base_dn>dc=shmanic,dc=net</base_dn>
		<use_search>0</use_search>
		<user_qry>uid=[username],ou=People,dc=shmanic,dc=net</user_qry>
	</config>
	
	<config id="410" comment="For successful search, read, modify operations in ldap (bind as user) [AD]">
		<host>ad1.shmanic.net</host>
		<port>389</port>
		<use_v3>1</use_v3>
		<negotiate_tls>0</negotiate_tls>
		<use_referrals>0</use_referrals>
		<proxy_username>tuser1@HOME.LOCAL</proxy_username>
		<proxy_password>tuser1</proxy_password>
		<proxy_encryption>0</proxy_encryption>
		<base_dn>DC=HOME,DC=LOCAL</base_dn>
		<use_search>1</use_search>
		<user_qry>(sAMAccountName=[username])</user_qry>
		<testuser>tuser1</testuser>
		<testpass>tuser1</testpass>
	</config>
</configs>