<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset name="ldap">
		<field name="ldap:config"
			type="list"
			default="2"
			label="COM_SHLDAP_SETTINGS_FIELD_LDAP_CONFIG_LABEL"
			description ="COM_SHLDAP_SETTINGS_FIELD_LDAP_CONFIG_DESC"
		>
			<option value="1">COM_SHLDAP_SETTINGS_FIELD_LDAP_CONFIG_AUTO</option>
			<option value="2">COM_SHLDAP_SETTINGS_FIELD_LDAP_CONFIG_SQL</option>
			<option value="3">COM_SHLDAP_SETTINGS_FIELD_LDAP_CONFIG_FILE</option>
			<option value="4">COM_SHLDAP_SETTINGS_FIELD_LDAP_CONFIG_PLUGIN</option>
		</field>
		<field name="ldap:table"
			type="text"
			default="#__sh_ldap_config"
			label="COM_SHLDAP_SETTINGS_FIELD_LDAP_TABLE_LABEL"
			description="COM_SHLDAP_SETTINGS_FIELD_LDAP_TABLE_DESC"
		/>
		<field name="ldap:file"
			type="text"
			default=""
			label="COM_SHLDAP_SETTINGS_FIELD_LDAP_FILE_LABEL"
			description="COM_SHLDAP_SETTINGS_FIELD_LDAP_FILE_DESC"
		/>
		<field name="ldap:namespaces"
			type="text"
			default=""
			label="COM_SHLDAP_SETTINGS_FIELD_LDAP_NAMESPACES_LABEL"
			description="COM_SHLDAP_SETTINGS_FIELD_LDAP_NAMESPACES_DESC"
		/>
		<field name="ldap:plugin"
			type="text"
			default="ldap"
			label="COM_SHLDAP_SETTINGS_FIELD_LDAP_PLUGIN_LABEL"
			description="COM_SHLDAP_SETTINGS_FIELD_LDAP_PLUGIN_DESC"
		/>
	</fieldset>
</form>


