<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="ldap"
		label="COM_LDAPADMIN_CONFIG_FIELDSET_LDAP_LABEL"
		description="COM_LDAPADMIN_CONFIG_FIELDSET_LDAP_DESC"
	>
		<field
			name="dispatcher_plugin"
			type="text"
			default="ldapdispatcher"
			label="COM_LDAPADMIN_CONFIG_LDAP_FIELD_DISPATCHER_LABEL"
			description="COM_LDAPADMIN_CONFIG_LDAP_FIELD_DISPATCHER_DESC" 
		/>
		<field name="spacer1" type="spacer" hr="true"/>
		<field
			name="auth_plugin"
			type="text"
			default="jmapmyldap"
			label="COM_LDAPADMIN_CONFIG_LDAP_FIELD_AUTHPLUGIN_LABEL"
			description="COM_LDAPADMIN_CONFIG_LDAP_FIELD_AUTHPLUGIN_DESC" 
		/>
		<field
			name="ldap_plugin_type"
			type="text"
			default="ldap"
			label="COM_LDAPADMIN_CONFIG_LDAP_FIELD_PLUGINTYPE_LABEL"
			description="COM_LDAPADMIN_CONFIG_LDAP_FIELD_PLUGINTYPE_DESC" 
		/>
		<field name="autoregister" type="list"
			default="1"
			description="COM_LDAPADMIN_CONFIG_LDAP_FIELD_REGISTER_DESC"
			label="COM_LDAPADMIN_CONFIG_LDAP_FIELD_REGISTER_LABEL"
		>
			<option value="0">COM_LDAPADMIN_CONFIG_LDAP_FIELD_REGISTER_INHERIT_NO</option>
			<option value="1">COM_LDAPADMIN_CONFIG_LDAP_FIELD_REGISTER_INHERIT_YES</option>
			<option value="override0">COM_LDAPADMIN_CONFIG_LDAP_FIELD_OVERRIDE_NO</option>
			<option value="override1">COM_LDAPADMIN_CONFIG_LDAP_FIELD_OVERRIDE_YES</option>
		</field>

	</fieldset>
	
	<fieldset name="sso"
		label="COM_LDAPADMIN_CONFIG_FIELDSET_SSO_LABEL"
		description="COM_LDAPADMIN_CONFIG_FIELDSET_SSO_DESC"
	>
		<field name="sso_enabled" 
			type="radio" 
			default="0" 
			description="COM_LDAPADMIN_CONFIG_SSO_FIELD_ENABLED_DESC" 
			label="COM_LDAPADMIN_CONFIG_SSO_FIELD_ENABLED_LABEL"
		>
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field
			name="sso_plugin_type"
			type="text"
			default="sso"
			label="COM_LDAPADMIN_CONFIG_SSO_FIELD_PLUGINTYPE_LABEL"
			description="COM_LDAPADMIN_CONFIG_SSO_FIELD_PLUGINTYPE_DESC" 
		/>
		<field name="spacer2" type="spacer" hr="true"/>
		<field name="sso_auto_register" type="radio" 
			default="1" 
			label="COM_LDAPADMIN_CONFIG_SSO_FIELD_AUTOREG_LABEL" 
			description="COM_LDAPADMIN_CONFIG_SSO_FIELD_AUTOREG_DESC"
		>
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field name="sso_ip_rule" type="list"
			default="allowall"
			description="COM_LDAPADMIN_CONFIG_SSO_FIELD_IPRULE_DESC"
			label="COM_LDAPADMIN_CONFIG_SSO_FIELD_IPRULE_LABEL"
		>
			<option value="allowall">COM_LDAPADMIN_CONFIG_SSO_FIELD_IPRULE_ALLOW</option>
			<option value="denyall">COM_LDAPADMIN_CONFIG_SSO_FIELD_IPRULE_DENY</option>
		</field>
		<field name="sso_ip_list" type="textarea" 
			default="" 
			cols="30" rows="10" 
			label="COM_LDAPADMIN_CONFIG_SSO_FIELD_IPLIST_LABEL" 
			description="COM_LDAPADMIN_CONFIG_SSO_FIELD_IPLIST_DESC"
		/>
		<field name="sso_url_bypass" type="text" 
			size="20" 
			default="" 
			label="COM_LDAPADMIN_CONFIG_SSO_FIELD_URL_BYPASS_LABEL" 
			description="COM_LDAPADMIN_CONFIG_SSO_FIELD_URL_BYPASS_DESC" 
		/>
		<field name="sso_backend" type="radio" 
			default="0" 
			label="COM_LDAPADMIN_CONFIG_SSO_FIELD_BACKEND_LABEL" 
			description="COM_LDAPADMIN_CONFIG_SSO_FIELD_BACKEND_DESC"
		>
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
	</fieldset>
	
	<fieldset name="errors"
		label="COM_LDAPADMIN_CONFIG_FIELDSET_ERRORS_LABEL"
		description="COM_LDAPADMIN_CONFIG_FIELDSET_ERRORS_DESC"
	>
		<field name="file_debug" type="list"
			default="error_only"
			description="COM_LDAPADMIN_CONFIG_ERRORS_FIELD_FILE_DEBUG_DESC"
			label="COM_LDAPADMIN_CONFIG_ERRORS_FIELD_FILE_DEBUG_LABEL"
		>
			<option value="full">COM_LDAPADMIN_CONFIG_ERRORS_FIELD_DEBUG_LEVEL_FULL</option>
			<option value="error_info">COM_LDAPADMIN_CONFIG_ERRORS_FIELD_DEBUG_LEVEL_ERROR_INFO</option>
			<option value="error_only">COM_LDAPADMIN_CONFIG_ERRORS_FIELD_DEBUG_LEVEL_ERROR_ONLY</option>
			<option value="info_only">COM_LDAPADMIN_CONFIG_ERRORS_FIELD_DEBUG_LEVEL_INFO_ONLY</option>
			<option value="none">COM_LDAPADMIN_CONFIG_ERRORS_FIELD_DEBUG_LEVEL_NONE</option>
		</field>
		<field name="screen_debug" type="list"
			default="none"
			description="COM_LDAPADMIN_CONFIG_ERRORS_FIELD_SCREEN_DEBUG_DESC"
			label="COM_LDAPADMIN_CONFIG_ERRORS_FIELD_SCREEN_DEBUG_LABEL"
		>
			<option value="full">COM_LDAPADMIN_CONFIG_ERRORS_FIELD_DEBUG_LEVEL_FULL</option>
			<option value="error_only">COM_LDAPADMIN_CONFIG_ERRORS_FIELD_DEBUG_LEVEL_ERROR_ONLY</option>
			<option value="info_only">COM_LDAPADMIN_CONFIG_ERRORS_FIELD_DEBUG_LEVEL_INFO_ONLY</option>
			<option value="none">COM_LDAPADMIN_CONFIG_ERRORS_FIELD_DEBUG_LEVEL_NONE</option>
		</field>
	</fieldset>
	
	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_ldapadmin"
			section="component"
		>
			<action name="core.admin"
				title="JACTION_ADMIN"
				description="JACTION_ADMIN_COMPONENT_DESC" 
			/>
			<action name="core.manage"
				title="JAction_Manage"
				description="JACTION_MANAGE_COMPONENT_DESC" 
			/>
			<action name="core.edit"
				title="JAction_Edit"
				description="JACTION_EDIT_COMPONENT_DESC" 
			/>
		</field>
	</fieldset>
</config>
